#Appointment {



  
@media (max-width: 400px) {
   .title {
    font-size: 22px !important;
}
.callnum{
  h2{
    font-size:  22px !important;
    i{
      font-size:  22px !important;
    }
  }
}
}



  
  .row {
    max-width: none;
  }



  @media (min-width: 1000px)  {
    .container-fluid {
      padding-left: 0px;
    }
  }

  



  background: $mc;
  .callnum {
    background-image: url(../images/appointment-left-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
    position: relative;
    h2 {
      margin: 0;
      position: absolute;
      bottom: 100px;
      right: 0;
      background: rgba(47, 64, 112, 0.9);
      color: #ffffff;
      font-weight: bold;
      font-size: 35px;
      padding: 25px 20px;
      line-height: 0;
      i {
        font-size: 35px;
        color: white;
      }
    }
    @media (min-width: 1px) and (max-width: 1000px) {
      h2 {
        bottom: -85px;
      }
    }
  }

  .form {
    max-width: 670px;
    padding: 90px 0px 100px 50px;
  }
  .title {
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: bold;
    background: none;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    height: 45px;
    border-color: #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
  }
  button {
    background-color: #ffffff;
    color: $mc;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 10px 20px;
    &:hover {
      background-color: #333333;
      color: #ffffff;
    }
  }
}
