#header{
  .container-fluid {
    padding: 0px;
    position: relative;
  }
  .carousel {
    .owl-nav {
      button {
        border: 1px solid #ffffff;
        width: 50px;
        height: 50px;
        clip-path: polygon(
          30% 0%,
          70% 0%,
          100% 30%,
          100% 70%,
          70% 100%,
          30% 100%,
          0% 70%,
          0% 30%
        );

        outline: none;
        position: absolute;
        i {
          font-size: 15px;
          color: white;
        }
        transition: 1s;
        background: #396df000;
        &:hover {
          background: #396cf0;
          border: 1px solid #396cf0;
        }
      }
      .owl-prev {
        top: 40%;
        left: 2%;
      }
      .owl-next {
        top: 40%;
        right: 2%;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }
    .layer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.4;
      z-index: 2;
    }
    h1 {
      color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      font-size: 70px;
      z-index: 4;

      
    }
  }
  .owl-item.active h1 {
    animation: 1s 0.3s fadeInUp both;
  }
@keyframes fadeInUp {
    0% {
      top: 80%;
      opacity: 0%;
    }
    100% {
      top: 50%;
      opacity: 100%;
    }
  }

  @media (max-width: 767.98px) {
    h1 {
      font-size: 25px !important;
    }
  }
  @media (min-width: 768px) and (max-width: 1299px) {
    h1 {
      font-size: 50px !important;
    }
    button{
      top: 60%!important;
    }

  }
  @media (min-width: 1300px) {
   
  }
}
