#menuHeader {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 5;
    button {
      a{
        color: white;
      }
      margin: 0px;
      background: $mc;
      padding: 15px 25px;
      font-weight: bold;
      font-size: 13px;
      &:hover {
        background: #333333;
      }
    }
  
    #menu {
      background: white;
      padding: 20px;
      margin: 5px;
      max-width: 1110px;
  
      ul {
        display: flex;
        flex-direction: row;
        li {
          margin: 5px;
          padding: 5px;
          a {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            color: #333333;
          }
        }
      }
      .dropdown-menu {
        a {
          font-weight: normal;
        }
        z-index: 11;
        height: 0px;
        transition: all 0.5s ease-in-out;
        width: 200px;
        border: 0px solid rgba(0, 0, 0, 0.15);
        left: 132px;
        display: block;
        overflow: hidden;
  
        .dropdown-item {
          font-size: 13px;
          line-height: 28px;
          word-wrap: break-word;
        }
      }
      .secont {
        left: 267px;
      }
      .third {
        left: 300px;
      }

      .fourth{
       left: 10px;
      }
  
      li:hover .dropdown-menu {
        height: 300px;
        display: block;
      }
      li:hover .secont {
        height: 160px;
      }
      li:hover .third{
        height: 80px;
      }
      li:hover .fourth{
        height: 80px;
      }

    }
    #upmenu {
      padding: 5px;
      margin: 5px;
      max-width: 1110px;
      h6 {
        color: rgb(20, 17, 17);
        margin: 5px;
        padding: 5px;
      }
      ul {
        display: flex;
        flex-direction: row;
        li {
          margin: 5px;
          padding: 5px;
          i {
            background-color: #000000;
            color: $mc;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: 32px;
            transition: 0.5s;
            &:hover {
              background-color: $mc;
              color: #000000;
            }
          }
        }
      }
    }
  
    @media (max-width: 990px) {
      #menu {
        .men {
          display: none;
        }
      }
      #upmenu {
        display: none;
      }
    }
    @media (min-width: 768px) and (max-width: 1299px) {
      a {
        font-size: 10px !important;
      }
      button {
        font-size: 10px !important;
        padding: 10px 15px;
      }
    }
  
    .burgerMenu {
      display: none;
      .burger {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid $mc;
        border-radius: 0.25rem;
        display: inline-block;
        i {
          color: $mc;
        }
      }
    }
  
    @media (max-width: 990px) {
      .burgerMenu {
        display: flex;
        justify-content: flex-end;
      }
    }
  
    .navbar-container {
     
      transition: 1s;
      overflow: hidden;
      height: 331px;
      max-width: 1110px;
      margin-left: auto;
      margin-right: auto;
      margin: -5px -5px 0px 5px;
  
      .dropdown-menu {
        display: block;
        border: none;
        padding: 0px;
        margin: 0px;
      }
  
      .navbar-light {
        
        background-color: #ffffff;
        padding: 20px 15px;
      }
  
      @media only screen and (max-width: 1055px) {
        .navbar-collapse {
          height: 291px;
          overflow-y: scroll;
          .navbar-nav {
            margin-top: 10px !important;
            @media only screen and (max-width: 1055px) {
              .nav-link {
                padding: 5px 4px;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.5);
                text-transform: uppercase;
                font-weight: bold;
                color: #333333;
              }
            }
          }
        }
      }
  
      @media only screen and (max-width: 1055px) {
        .appointment-inline {
          margin-left: 4px;
          margin-top: 5px;
          .appointment-btn {
            background-color: #396cf0;
            color: #ffffff;
            display: inline-block;
            font-weight: bold;
            font-size: 13px;
            padding: 10px 20px;
          }
        }
      }
      @media (min-width: 990px) {
        display: none;
      }
    }
    .off {
      transition: 1s;
      overflow: hidden;
      height: 0px;
     
    }
    
  }
  
  @media (max-width: 1300px) {
    #menuHeader #menu .secont {
      left: 205px !important;
    }
  }
  