#News {
  #owl-carousel4 {
    margin-top: 60px;
  }
  a {
    color: $mc;
  }
  .box {
    margin: 0px 20px;
  }
  .imgbox {
    position: relative;
    img {
      clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
    }
    &:before {
      content: "";
      position: absolute;
      background-color: #396cf0;
      height: 100%;
      width: 99.5%;
      z-index: -1;
      left: 0;
      top: 3px;
      clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
      transition: 0.4s;
    }
  }
  .txtbox {
    padding: 30px 20px;
    .minibox {
      list-style-type: none;
      padding: 0;
      margin: 20px 0;
      li {
        list-style-type: none;
        display: inline-block;
        margin-right: 15px;
        position: relative;
        color: #666666;
      }
      .author {
        position: relative;
        padding-left: 40px;
        img {
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  h3 {
    font-size: 20px;
    transition: all 0.5s;
    margin: 0px 0px 15px;
    font-weight: bold;
  }
  p {
    color: #666666;
    font-size: 15px;
  }
  .read {
    color: #396cf0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
    line-height: 16px;
  }

  button {
    border: 1px solid #eeeeee;
    background: #eeeeee;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    outline: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: 1s;
    i {
      font-size: 15px;
      color: $mc;
    }
    &:hover {
      background: $mc;
      border: 1px solid $mc;
    }
    &:hover i {
      color: white;
    }
  }
  .owl-next {
    right: -5%;
  }
  .owl-prev {
    left: 0%;
  }
}
