@section css {
<link rel="stylesheet" href="./assets/css/style.css">
}
@await Component.InvokeAsync("Doctor")
    <!-- Doctors Part End -->

    <!-- About Part Start -->
@await Component.InvokeAsync("AboutUs")
    <!-- About Part End -->

    <!-- Center Part Start -->
    <section id="center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-9 foricon">

                    <i class="fas fa-medkit"></i>
                    <h3>Health Care Center</h3>
                    <p>if you have any Emerangcy by health problem contact this <span>No. 035 687 9514</span> or contact
                        form</p>
                </div>
                <div class="col-md-12 col-lg-3 d-flex align-items-center">
                    <button>Contact Us</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Center Part End -->

    <!-- Our Departments Part Start -->

    <section id="Departments">
        <div class="container">
            <div class="row">
                <div class="col-12 xet">
                    <h1>Our Departments</h1>
                    <h5>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <div class="box">
                        <i class="fas fa-heartbeat"></i>
                        <h3>Cardiology</h3>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="box">
                        <i class="fas fa-brain"></i>
                        <h3>Neurology</h3>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="box">
                        <i class="fa-solid fa-person-walking-with-cane"></i>
                        <h3>Orthopedics</h3>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="box">
                        <i class="icofont-xray"></i>
                        <h3>Radiology</h3>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="box">
                        <i class="icofont-surgeon"></i>
                        <h3>Surgery</h3>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="box">
                        <i class="fa-solid fa-flask"></i>
                        <h3>Urology</h3>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="box">
                        <i class="icofont-autism"></i>
                        <h3>Psychosocial</h3>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="box">
                        <i class="fas fa-tooth"></i>
                        <h3>Dental</h3>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Departments End Part -->

    <!-- Videos Start Part -->
    <section id="prevideo">
        <div class="container">
            <div class="row">
                <div class="col-12 xet">
                    <h1>Watch Our Video</h1>
                    <h5>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                </div>
            </div>
    </section>

    <!-- Iframe Youtube Video Start Part ///-->
    <section id="video">
        <div id="iframevideo" class="d-none"></div>
        <iframe class="d-none" width="900" height="506" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="container">
            <div class="box">
                <div class="boxmini">
                    <div class="wrapper">
                        <div class="btn">
                            <div class="anime"></div>
                            <a class="icon" id="iconVideo">
                                <i class="fa-solid fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Iframe Youtube Video End Part ////-->
    <!-- Videos End Part -->

    <!-- Numbers Start Part  -->

    <section id="numbers">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="box">
                        <i class="fa-solid fa-face-smile"></i>
                        <div class="num">25000</div>
                        <h6>Happy Patients</h6>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="box">
                        <i class="fas fa-user-md"></i>
                        <div class="num">180</div>
                        <h6>Experienced Doctors</h6>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="box">
                        <i class="icofont-operation-theater"></i>
                        <div class="num">1500</div>
                        <h6>Successful Operations</h6>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="box">
                        <i class="fa-solid fa-bed"></i>
                        <div class="num">2800</div>
                        <h6>Numbers of Beds</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  Numbers End Part -->

    <!-- Our EXpert Doctor Start Part -->
    <section id="Expert">
        <div class="container">
            <div class="row">
                <div class="col-12 xet">
                    <h1>Our Expert Doctors</h1>
                    <h5>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                </div>
            </div><br><br>
            <!-- 
            <div id="owl-carousel2" class="owl-carousel">
                
            </div> -->

            <!-- Swipper Carsoul Start Part -->
             <div class="carousel-swiper">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="doctors-single-card">

                                <div class="users-image-div">
                                    <img class="users" src="./assets/images/Doctor3.jpg" alt="">

                                    <div class="animation-void-div">
                                        <div class="social-media-icon">
                                            <div class="icon"><i class="fa-brands fa-linkedin-in"></i></div>
                                            <div class="icon"><i class="fa-brands fa-twitter"></i></i></div>
                                            <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                                        </div>
                                    </div>

                                    <div class="border-bottom-div"></div>
                                </div>

                                <div class="users-information">
                                    <h3 class="user-name">Dr. Mark Jacobson</h3>
                                    <h5 class="user-job">Psychosocial</h5>
                                    <p class="user-about    ">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed
                                        do
                                        eiusmod tempor
                                        incididunt ut labore</p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="doctors-single-card">

                                <div class="users-image-div">
                                    <img class="users" src="./assets/images/Doctor4.jpg" alt="">

                                    <div class="animation-void-div">
                                        <div class="social-media-icon">
                                            <div class="icon"><i class="fa-brands fa-linkedin-in"></i></div>
                                            <div class="icon"><i class="fa-brands fa-twitter"></i></i></div>
                                            <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                                        </div>
                                    </div>

                                    <div class="border-bottom-div"></div>
                                </div>

                                <div class="users-information">
                                    <h3 class="user-name">Dr. Alex Davidson</h3>
                                    <h5 class="user-job">Haematalogy</h5>
                                    <p class="user-about    ">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed
                                        do
                                        eiusmod tempor
                                        incididunt ut labore</p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="doctors-single-card">

                                <div class="users-image-div">
                                    <img class="users" src="./assets/images/Doctor5.jpg" alt="">

                                    <div class="animation-void-div">
                                        <div class="social-media-icon">
                                            <div class="icon"><i class="fa-brands fa-linkedin-in"></i></div>
                                            <div class="icon"><i class="fa-brands fa-twitter"></i></i></div>
                                            <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                                        </div>
                                    </div>

                                    <div class="border-bottom-div"></div>
                                </div>

                                <div class="users-information">
                                    <h3 class="user-name">Dr. Anym Jackson</h3>
                                    <h5 class="user-job">Dental Specialist</h5>
                                    <p class="user-about    ">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed
                                        do
                                        eiusmod tempor
                                        incididunt ut labore</p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="doctors-single-card">

                                <div class="users-image-div">
                                    <img class="users" src="./assets/images/Doctor6.jpg" alt="">

                                    <div class="animation-void-div">
                                        <div class="social-media-icon">
                                            <div class="icon"><i class="fa-brands fa-linkedin-in"></i></div>
                                            <div class="icon"><i class="fa-brands fa-twitter"></i></i></div>
                                            <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                                        </div>
                                    </div>

                                    <div class="border-bottom-div"></div>
                                </div>


                                <div class="users-information">
                                    <h3 class="user-name">Dr. Jaka Alex</h3>
                                    <h5 class="user-job">Psychosocial</h5>
                                    <p class="user-about    ">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed
                                        do
                                        eiusmod tempor
                                        incididunt ut labore</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                    <div class="swiper-pagination"></div>
                </div>
             </div>
            <!-- Swipper Carsoul End Part -->

        </div>
    </section>
    <br><br><br><br>
    <!--Our Expert Doctor End Part -->

    <!-- Make an Appointment Start Part -->
    <section id="Appointment">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-5 p-0">
                    <div class="callnum">
                        <h2><i class="fas fa-phone-alt"></i> 1-604-555-5555</h2>
                    </div>
                </div>

                <div class="col-md-12 col-lg-7 p-0">
                    <div class="form">
                        <h2 class="title">Make an Appointment</h2>
                        <form>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 ">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="id_name" placeholder="Name">
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 ">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="id_email" placeholder="Email">
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 ">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="id_phone_number"
                                            placeholder="Phone Number">
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 ">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>Department</option>
                                            <option>Cardiology</option>
                                            <option>Neurology</option>
                                            <option>Orthopedics</option>
                                            <option>Radiology</option>
                                            <option>Surgery</option>
                                            <option>Urology</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 ">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>Doctor</option>
                                            <option>Dr. Anym Jackson</option>
                                            <option>Dr. Mark Jacobson</option>
                                            <option>Dr. Alex Davidson</option>
                                            <option>Dr. Jaka Alex</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 ">
                                    <div class="form-group">
                                        <input class="form-control " id="datepicker" placeholder="Booking Date">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" id="message" rows="4" placeholder="Message"></textarea>
                            </div>

                            <button type="submit">Book Now</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- Make an Appointment End Part -->

    <!-- Patient FeedBack Start Part -->
    <section id="Feedback">
        <div class="container">
            <div class="row">
                <div class="col-12 xet">
                    <h1>Patient Feedback</h1>
                    <h5>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                </div>
            </div><br><br><br>
            <div class="row">
                <div id="owl-carousel3" class="owl-carousel">
                    <div class="pbox">
                        <div class="box">
                            <i class="fa-solid fa-arrow-right"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                                viverra maecenas accumsan lacus vel facilisis.</p>
                            <div class="imgbox"><img src="./assets/images/4.jpg" alt=""></div>
                            <h2>Idris Elba</h2>
                        </div>
                    </div>
                    <div class="pbox">
                        <div class="box">
                            <i class="fa-solid fa-arrow-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                                viverra maecenas accumsan lacus vel facilisis.</p>
                            <div class="imgbox"><img src="./assets/images/5.jpg" alt=""></div>
                            <h2>Scarlett Johansson</h2>
                        </div>
                    </div>
                    <div class="pbox">
                        <div class="box">
                            <i class="fas fa-quote-right"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                                viverra maecenas accumsan lacus vel facilisis.</p>
                            <div class="imgbox"><img src="./assets/images/1 (1).jpg" alt=""></div>
                            <h2>Anym Jackson</h2>
                        </div>
                    </div>
                    <div class="pbox">
                        <div class="box">
                            <i class="fas fa-quote-right"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                                viverra maecenas accumsan lacus vel facilisis.</p>
                            <div class="imgbox"><img src="./assets/images/2 (1).jpg" alt=""></div>
                            <h2>Mark Rylance</h2>
                        </div>
                    </div>
                    <div class="pbox">
                        <div class="box">
                            <i class="fas fa-quote-right"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                                viverra maecenas accumsan lacus vel facilisis.</p>
                            <div class="imgbox"><img src="./assets/images/3 (1).jpg" alt=""></div>
                            <h2>Natalie Portman</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Patient FeedBack End Part -->

    <!-- We are Constantyl Start Part -->
    <section id="constantly">
        <div class="container">
            <div class="content">
                <h3>We are constantly evaluating and implementing ways to improve patient safety.</h3>
                <p>Please speak up when you have questions or concerns.</p>

                <div class="callnum">
                    <i class="fa-solid fa-phone"></i>
                    1-604-555-5555
                </div>
            </div>

            <div class="imgbox">
                <img src="./assets/images/doctor.png" alt="Doctor">
            </div>
        </div>
    </section> <br><br>

    <!-- We are Constantyl End Part  -->

    <!-- Latest News Start Part -->

    <section id="News">
        <div class="container">
            <div class="row">
                <div class="col-12 xet">
                    <h1>Latest News</h1>
                    <h5>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                </div>
            </div>
            <div id="owl-carousel4" class="owl-carousel">
                <div class="box">
                    <div class="imgbox">
                        <a href="#">
                            <img src="./assets/images/4 (1).jpg" alt="News Image">
                        </a>
                    </div>

                    <div class="txtbox">
                        <h3>Simple First Aid Tips For An Injured Ankle</h3>

                        <ul class="minibox">
                            <li class="author">
                                <img src="./assets/images/1 (1).jpg" alt="">
                                <a href="#">Dr. Jaci</a>
                            </li>
                            <li>15 Jan, 2019</li>
                            <li><i class="icofont-speech-comments"></i> 30</li>
                        </ul>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore</p>

                        <a href="#" class="read">Read More <i class="fas fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="box">
                    <div class="imgbox">
                        <a href="#">
                            <img src="./assets/images/5 (1).jpg" alt="News Image">
                        </a>
                    </div>

                    <div class="txtbox">
                        <h3>Simple First Aid Tips For An Injured Ankle</h3>

                        <ul class="minibox">
                            <li class="author">
                                <img src="./assets/images/1 (1).jpg" alt="">
                                <a href="#">Dr. Jaci</a>
                            </li>
                            <li>15 Jan, 2019</li>
                            <li><i class="icofont-speech-comments"></i> 30</li>
                        </ul>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore</p>

                        <a href="#" class="read">Read More <i class="fas fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="box">
                    <div class="imgbox">
                        <a href="#">
                            <img src="./assets/images/1 (3).jpg" alt="News Image">
                        </a>
                    </div>

                    <div class="txtbox">
                        <h3>Simple First Aid Tips For An Injured Ankle</h3>

                        <ul class="minibox">
                            <li class="author">
                                <img src="./assets/images/1 (1).jpg" alt="">
                                <a href="#">Dr. Jaci</a>
                            </li>
                            <li>15 Jan, 2019</li>
                            <li><i class="icofont-speech-comments"></i> 30</li>
                        </ul>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore</p>

                        <a href="#" class="read">Read More <i class="fas fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="box">
                    <div class="imgbox">
                        <a href="#">
                            <img src="./assets/images/2 (4).jpg" alt="News Image">
                        </a>
                    </div>

                    <div class="txtbox">
                        <h3>Simple First Aid Tips For An Injured Ankle</h3>

                        <ul class="minibox">
                            <li class="author">
                                <img src="./assets/images/1 (1).jpg" alt="">
                                <a href="#">Dr. Jaci</a>
                            </li>
                            <li>15 Jan, 2019</li>
                            <li><i class="icofont-speech-comments"></i> 30</li>
                        </ul>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore</p>

                        <a href="#" class="read">Read More <i class="fas fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="box">
                    <div class="imgbox">
                        <a href="#">
                            <img src="./assets/images/3 (3).jpg" alt="News Image">
                        </a>
                    </div>

                    <div class="txtbox">
                        <h3>Simple First Aid Tips For An Injured Ankle</h3>

                        <ul class="minibox">
                            <li class="author">
                                <img src="./assets/images/1 (1).jpg" alt="">
                                <a href="#">Dr. Jaci</a>
                            </li>
                            <li>15 Jan, 2019</li>
                            <li><i class="icofont-speech-comments"></i> 30</li>
                        </ul>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore</p>

                        <a href="#" class="read">Read More <i class="fas fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section> <br><br>

    <!-- Latest News End Part -->

    <!-- NewsLetter Start Part -->

    <section id="Newsletter">
        <div class="container">
            <div class="row">
                <div class="col-12 xet">
                    <h1>Join Our Newsletter</h1>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h5>
                </div>

                <div class="subscribe-from">
                    <form class="newsletter-form" data-toggle="validator" novalidate="true" _lpchecked="1">
                        <input type="email" class="form-control" placeholder="Enter email" name="EMAIL" required=""
                            autocomplete="off">
                        <button type="submit" class="btn submit-btn disabled"
                            style="pointer-events: all; cursor: pointer;"><i class="fas fa-location-arrow"></i></button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>

            </div>

        </div>
    </section>
