<section id="aboutus">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6 col-sm-12 align-content-center">
                <img src="./assets/images/about-us.jpg" alt="">
            </div>
            <div class="col-lg-6 col-sm-12 align-content-center">
                <h1>50 Years of Experience in Medical</h1>
                <p>
                    We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Dolorum, beatae.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae abveritatis quasi architecto beatae vitae dicta sunt
                    explicabo.
                </p>
                <button>About Us</button>
            </div>
        </div>
    </div>
</section>